@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --hue-color: 242;
    --skin-color: hsl(342, 92%, 46%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 85%);
    --body-color: hsl(var(--hue-color), 19%, 5%);
    --box-color: hsl(var(--hue-color), 14%, 10%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --font-medium: 500;
    --font-bold: 600;
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --z-fixed: 10;
    --z-modal: 100;
}

@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--biggest-font-size);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    outline: none;
}


/* ================== Layout ================== */
.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;

}

/* .grid {
    display: grid;
} */

/* ================== Reuseable CSS Classes ================== */

.home__data {
    height: max-content;
}



.section {
    padding: 1rem 0 2rem;
}

.about__section-title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
    padding-top: 50px;
}

.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
    font-weight: 700;

}

.works__title {
    margin-bottom: 20px;

}

.section__title::before {
    content: attr(data-heading);
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--skin-color);

}

/* ================== Sidebar ================== */



.sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
    border-right: 1px solid var(--box-color);
    transition: .5s;
}

.nav__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;

}

.nav__logo-text {
    font-size: 1.125rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    line-height: 40px;
}

.nav__menu {
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
}

.menu {
    display: flex;

}

.nav__list {
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}

.nav__link {
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    color: var(--font-medium);
    position: relative;
    transition: 0.4s;
}

.btn__share {
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    text-align: center;
}

.social__share {
    width: 1.5rem;

}

.work__container {
    display: grid;
}

.nav__toggle {
    height: 32px;
    width: 36px;
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    top: 2rem;
    font-size: 1.2rem;
    border-radius: .55rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    display: none;
    justify-content: center;
    align-items: center;

}

.nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    display: none;
}

.nav__link.active-link,
.nav__link:hover {
    color: var(--skin-color);

}

.nav__link.active-link::after,
.nav__link:hover::after {
    content: '';

    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 0.8em;
    left: 0;
    right: 0;
    margin: auto;

}

.main {
    margin-left: 100px;

}


/* ================== Home Section ================== */

.home {
    background: url(../image/3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;

    height: 100vh;
}

.home__container {
    width: 100%;
    height: 100vh;
}


.home__img {
    display: none;

}

.home__title {
    font-size: var(--biggest-font-size);
    margin-bottom: 30px;
}

.home__subtitle {
    width: 30vw;
    padding-bottom: 20px;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
    border-bottom: 0.2px solid rgba(254, 254, 254, 0.355);
}

.home__social {
    top: 1.8rem;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
    padding-top: 40px;

}

.home__description {
    max-width: 450px;
    margin-bottom: var(--mb-2);
}

.home__description:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

.home__social-follow {
    font-weight: var(--font-medium);
    position: relative;
}


.home__social-links {
    display: inline-flex;
    column-gap: 2rem;
}

.home__social-link {
    font-size: 1.08rem;
    color: var(--text-color);
    transition: .4s ease-in-out;


}

.home__social-link i {
    margin-right: 8px;

}

.home__social-link:hover {
    transition: 0.5s ease-in-out;
    background-color: #201f1fcc;
    padding: 10px 15px;
    border-radius: 25px;
    box-sizing: border-box;

}

.home__social-link:hover:nth-child(1) {
    color: rgb(64, 30, 236);
}

.home__social-link:hover:nth-child(2) {
    color: rgb(35, 142, 229);
}

.home__social-link:hover:nth-child(3) {
    color: rgb(163, 41, 179);
}


.home__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 120px;

}

.work__button button:hover {
    background-color: var(--skin-color);
}

.my__info {
    display: flex;
    column-gap: 1.8rem;
    position: absolute;
    bottom: 1.8rem;


}

.info__item {
    color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;


}

.info__item a {
    color: wheat;
}

.info__item:hover {
    transition: 0.5s ease-in-out;
    background-color: #201f1fcc;
    border-radius: 25px;

}


.info__title,
.info__subtitle {
    font-size: var(--font-medium);
}

.info__icon {
    font-size: 1.8rem;
    color: var(--skin-color);
    margin-right: var(--mb-0-75);


}

/* ================== Button ================== */
.button {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    padding: 0.75rem 1.4rem;
    border-radius: 0.25rem;
    font-weight: var(--font-medium);
    position: relative;
    z-index: 1;
    transition: 0.7s ease-in-out;


}

.button i {
    margin-right: 5px;
}

.button::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #343a40;
    z-index: -1;
    transform-origin: center;
    transform: scale(0);
    border-radius: 0.25rem;
    transition: 0.3s;
}

.button:hover::after {
    transform: scale(1);

}

.button__icon {
    font-size: 1.25rem;
}

/* ================== About Section ================== */

.about {
    height: 100vh;
}

.about__container {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    align-items: center;
}

.about__data {
    width: 45%;

}

.education {
    margin: auto;
    width: 45%;

}



.about__box:nth-child(2n+1) {
    background-color: #e1094a8c;
}

.about__image {
    width: 48px;
    border-radius: 0.75rem;
    justify-content: center;
}

.about__heading {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);

}

.about__description span {
    color: rgb(25, 232, 22);
}

.about__description a {
    color: rgb(238, 255, 0);
}

.about__description a:hover {
    color: rgb(0, 208, 255);
    transition: 0.2s ease-in-out;
}

.about__description {
    text-align: justify;
    padding-right: 6rem;
    margin-bottom: var(--mb-2);
}

.about__info {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    gap: 8px;
    column-gap: 0.5rem;
    margin-bottom: var(--mb-3);

}

.about__box {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 0.25rem;
    background-color: var(--box-color);
    /* padding: 1rem 1.25rem; */
}

.about__icon {
    font-size: 1.5rem;
    color: var(--skin-color);
    margin-bottom: var(--mb-0-75);
}

.about__title {
    font-size: var(--small-font-size);
    text-align: center;
    margin: auto;
}

.about__subtitle {
    font-size: var(--smaller-font-size)
}

/* ================== Qualification Section ================== */

.qualification {
    height: 100vh;

}

.qualification__container {
    grid-template-columns: repeat(2, 320px);
    column-gap: 3rem;
    justify-content: center;
}

.qualification__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-2);
}

.timeline {
    margin-bottom: 20px;
}

.timeline__item {
    padding-left: 3rem;
    position: relative;
    margin-bottom: var(--mb-2-5);
}

.timeline__item:last-child {
    margin-bottom: 0;
}

.timeline__item::before {
    content: '';
    width: 1px;
    position: absolute;
    left: 0.48rem;
    top: 0;
    height: 100%;
    background-color: var(--skin-color);
}

.circle__dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    background-color: var(--skin-color);
}

.timeline__item:hover .circle__dot {
    background-color: var(--body-color);
}

.timeline__title {
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.timeline__text {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1-5);
}

.timeline__date {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    font-size: var(--small-font-size);
    color: var(--skin-color);
    font-style: italic;

}

/* ================== Skills Section ================== */



.skills {
    height: 100vh;
}


.skills__content table {
    margin-top: 4rem;

    width: 50%;
    border-collapse: collapse;
}

.skills__content table th {
    margin: auto;
}

.skills__content {
    display: flex;
    flex-direction: row;
    column-gap: 20px;

}

.technical th {
    background-color: #483A58;
    text-shadow: 2px 1px 2px #343a40;

}

.soft th {
    background-color: #587B7F;
    text-shadow: 2px 2px 2px #343a40;

}

th {
    font-size: 1.4rem;
}

td,
th {
    text-align: center;
    margin: auto;
    border: 0.5px solid rgba(43, 42, 42, 0.464);
    padding: 20px 0;
    width: 10%;
    height: 10px;
}

.skills__header {
    display: flex;
    align-items: center;
}

.skills__headrt:not(:last-child) {
    margin-bottom: var(--mb-2-5);
}

.skills__icon,
.skills__arrow {
    font-size: 2rem;
    color: var(--skin-color);
}


.skills__icon {
    margin-right: var(--mb-0-75);
}

.skills__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.skills__subtitle {
    font-size: var(--small-font-size);
}

.skills__arrow {
    margin-left: auto;
}

.skills__list {
    row-gap: 1.8rem;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}


.skills__active .skills__arrow {
    transform: rotate(-90deg);
    transition: 0.3s;
}

.skills[data-content] {
    display: none;
}

.skills__active[data-content] {
    display: block;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
    height: 5px;
    border-radius: 0.25rem;
}

.skills__bar {
    background-color: var(--box-color);

}

.skills__percentage {
    display: block;
    background-color: var(--skin-color);
}

/* ================== work ================== */

/* .work__img_1 {
    width: 100%;
} */
.work {
    height: 100vh;
}

.work__title {
    text-align: center;
    font-weight: 800;
    padding-bottom: 10px;
}

.work__container {
    margin-top: 10px;
    grid-template-columns: repeat(3, 330px);
    gap: 1.8rem;
    justify-content: center;
    padding-top: 1rem;
    margin-bottom: 30px;
    padding-bottom: 30px;
}


.work__button .not-active-button:hover {
    background: rgb(68, 67, 67);
}


.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: 0.1rem;
}

.work__item {
    cursor: pointer;
    color: var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
}

.work__item:hover {
    background-color: rgba(255, 255, 255, 0.395);
}

.work__card {
    background-color: var(--box-color);
    padding: 1.25rem;
    border-radius: 0.5rem;
}

.active-work {
    background-color: var(--skin-color);
    color: white;

}

.active-work:hover {
    background-color: var(--skin-color);
}

.work__card:hover {
    transition: 0.3s ease-in-out;
    background-color: #eaeded57;
}


.portfolio__item-details {
    display: none;
}

.work__img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: var(--mb-1-5);
}

.work__title {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-5);

}

.work__button a,
.work__button i {
    color: #fff;
}

.work__button button {
    background-color: rgba(17, 17, 17, 0.821);
    padding: 5px 20px;
    border-radius: 50px;
    width: 100%;

}

.work__button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.2rem;
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
}

.work__button-icon {
    font-size: 1rem;
    transition: 0.3s;
}

.work__button:hover .work__button-icon {
    transform: translateX(0.25rem);
}



/* ================== active item work ================== */
.active__work {
    background-color: var(--skin-color);
    color: var(--title-color);
}

/* ================== Contact Section ================== */
.contact {
    height: 100vh;
    margin-top: 30px;
}

.contact__container {
    grid-template-columns: 300px 340px;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.contact__info {
    display: grid;
    row-gap: 1rem;
}

.contact__card {
    background-color: var(--box-color);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}

.contact__card-icon {

    font-size: 1rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-25);

}

.contact__card-title,
.contact__card-data {
    font-size: var(--small-font-size);
}

.contact__card-title {
    font-weight: var(--font-medium);
}

.contact__card-data {
    display: block;
    margin-bottom: var(--mb-0-75);
}

.contact__button {
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
}

.contact__button-icon {
    font-size: 1rem;
    transition: 0.3s;

}

.contact__button:hover .contact__button-icon {
    transform: translateX(0.25rem);
}

.input__container {
    position: relative;
    margin-top: .1rem;
    margin-bottom: 1.9rem;
}

.input {
    width: 100%;
    border: 2px solid var(--text-color);
    background-color: transparent;
    padding: 0.6rem 1.2rem;
    color: var(--title-color);

    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);

    letter-spacing: 0.5px;
    border-radius: 0.5rem;
    transition: .3s;
    outline: none;
}

.textarea.input {
    padding: .8rem 1.2rem;
    min-height: 140px;
    border-radius: 0.5rem;
    resize: none;
}


.input__container label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: var(--font-medium);
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input__container .textarea label {
    top: 1rem;
    transform: translateY(0);
}



.input__container span {
    position: absolute;
    top: 0;
    left: 25px;
    color: transparent;
    transform: translateY(-50%);
    font-size: var(--small-font-size);
    padding: 0 0.4rem;
    pointer-events: none;
    z-index: 500;

}

.input__container span::before,
.input__container span::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 3px;
    opacity: 0;
    background-color: var(--body-color);
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}


.input__container span::before {
    left: 50%;
}

.input__container span::after {
    right: 50%;
}

.input__container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: var(--smaller-font-size);
}

.input__container.focus span::before,
.input__container.focus span::after {
    width: 50%;
    opacity: 1;
}



.skills {
    height: 100vh;
}

/* ================== scrollbar  ================== */
::-webkit-scrollbar {
    width: .6rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}


::-webkit-slider-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

/* ================== responsive desing  ==================*/






@media screen and (max-width:1408px) {
    .container {
        margin-left: var(--mb-2-5);
        margin-right: var(--mb-2-5);
    }
}

@media screen and (max-width:1216px) {
    .about_container {
        column-gap: 2.5rem;
    }

    .about__description {
        padding-right: 0;
    }

    .work__container {
        grid-template-columns: repeat(2, 330px);
        gap: 2.5rem;
    }
}

@media (min-width:851px) and (max-width:1024px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
    
    /* .nav__toggle {
        display: flex;
    } */

    .about__container {
        grid-template-columns: 1fr;
        row-gap: 1, 5rem;
    }

    .about_img {
        width: 350px;
    }

    .about__data {
        text-align: center;

    }


    .about__box {
        padding: .75rem .5rem;
        text-align: center;
    }

    .about__description {
        padding: .4rem;
        text-align: center;

    }

    .qualification__container {
        grid-template-columns: repeat(2, 290px);
    }


    .skills__container {
        grid-template-columns: 340px 300px;
    }

    .skills__list {
        row-gap: 1.7rem;
    }


    .work__img {
        margin-bottom: var(--mb-0-75);
    }

    .work__title {
        margin-bottom: var(--mb-0-25);
    }

    .portfolio__item-details {
        margin-bottom: var(--mb-1-5);
    }

    .details__info {
        margin-bottom: var(--mb-0-5);
    }

    .details__title {
        margin-bottom: var(--mb-0-75);
    }

  
     
   

    .home__data .home__description {
        width: 40%;
    }

}









@media (min-width:850px) and (max-width:950px) {

    .home {
        position: relative; 
        height: 100vh;
        background: none;
    }
    
    .home::before {
        content: ""; 
        position: absolute; 
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: url(../image/3.png);
        background-size: cover;
        z-index: -1; 
    }


    
}










@media (min-width:577px) and (max-width:850px) {


    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }


    .home {
        height: 100vh;
        padding-left: 0;
        padding: 0;
    }

    .home__description {
        margin-bottom: var(--mb-2);
        text-align: center;
    }

    .title__of__skills {
        margin-bottom: 50px;
    }


    .home__description:hover {
        transform: none;
    }

    .main .home {
        background: none;
        width: 100%;
        flex-grow: 1;

    }


    .home__data {
        text-align: center;
        padding: 0 50px;
    }

    .home__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
        margin: auto;

    }





    .home__title {
        font-size: 2rem;
        font-weight: 900;

    }

    .home__subtitle {
        font-size: var(--normal-font-size);
        width: 100%;
        text-align: center;
    }


    .home__social {
        display: flex;

        align-items: center;
        justify-content: center;
        padding: 20px 0;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .home__social-link {
        font-size: 0.9rem;
        border: 2px solid rgba(49, 49, 47, 0.345);
        background-color: #515555a3;
        border-radius: 25px;
        padding: 5px;
        font-weight: 600;

    }

    .home__social-link:hover {
        transform: none;
    }

    .home__social-link:hover:nth-child(n) {
        color: #fff;
    }


    .home__social-link:nth-child(1) {
        background-color: #4a10f5a3;

    }

    .home__social-link:nth-child(2) {
        background-color: #06add7a3;

    }

    .home__social-link:nth-child(3) {
        background-color: #742a9ba3;

    }

    .home__social-links {
        display: flex;
        flex-direction: row;
        margin: 0 20px;
        padding: 0;
        justify-content: start;
        align-items: center;
        column-gap: 10px;
    }



    .about__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        row-gap: .5rem;

    }

    .about__data,
    .about__description {
        flex-basis: 50%;
        text-align: left;

    }

    .education {
        flex-basis: 50%;
        padding: 0;
        margin: 0;
    }

    .timeline__title {
        width: 100%;

    }

    .qualification__title {
        margin: auto;
        width: max-content;

    }

    .contact__container,
    .work__container,
    .skills__container,
    .qualification__container {
        grid-template-columns: 1fr;
    }

    .skills__title {
        font-size: var(--normal-font-size);
    }




    .education {
        width: 100%;
    }

    body {
        width: 100%;
    }

    .main {
        width: 100%;
        padding-left: 0;
        margin-left: 0;
    }


    .skills__content {
        display: flex;
        flex-direction: column;
    }

    .about {
        height: 100vh;
    }

    .skills {
        height: 100vh;
        position: relative;

    }

    .skills__content table {
        margin-top: 0;

        width: 80%;
        height: 50%;
        font-size: 0.7rem;
        border-collapse: collapse;
    }

    .skills__content table th,
    td {
        margin: auto;
        font-size: 0.8rem;
        padding: 5px 0;
    }




    .timeline {
        width: 80%;
        margin: auto;
        margin-top: 40px;
    }




    .about__section-title {
        margin-bottom: 20px;
        margin-top: 0;
        padding-top: 20px;
    }

    .skills__container {
        width: 100%;
        margin: 0;
        padding: 0;
        row-gap: 0;
        margin: auto;
    }

    .skills__content table {
        margin: auto;

    }

    .skills__content table {
        margin-bottom: 50px;
    }

    .skills__content table th {
        margin: auto;
        padding: 10px 0;
        font-size: medium;
    }

    .skills__content table td {
        padding: 10px 0;
        font-size: 0.9rem;

    }

    .title__of__skills {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .about {
        width: 100%;
        margin: auto;
    }


    .education {
        margin: auto;
        margin: 0;
        padding: 0;
    }

    .work__container {
        width: 100%;
        padding: 0;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }



    .work__card button {
        font-size: 0.8rem;
        border-radius: 0;

    }


    .work__card button i {
        font-size: 0.6rem;
    }

    .work__button {
        margin-top: 20px;

    }




    .work__filters {
        margin-top: 30px;
        column-gap: .2rem;

    }

    .work {
        height: 100vh;
        width: 100%;
    }





    .work__container {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 20px;
        align-content: start;
        padding: 10px 20px;
        padding-bottom: 20px;


    }

    .work__card {
        margin: auto;
        padding: 10px;
        margin: 0;
        width: 45%;
        align-content: start;

    }

    .work__title {
        text-align: center;
        font-weight: 800;
        font-size: 1rem;
    }

    .work__button {
        display: flex;
        flex-direction: column;

    }

    .work__button .button a {
        text-align: center;
        margin: auto;
    }

    .sidebar {
        display: none;
    }


}















































@media (min-width:351px) and (max-width:576px) {



    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .home__img {
        width: 200px;
    }

    .home {
        height: 100vh;
    }

    .home__title {
        font-size: var(--h1-font-size);
        font-weight: 900;

    }

    .home__subtitle {
        font-size: var(--normal-font-size);
        width: 100%;
    }

    .about__info {
        grid-template-columns: repeat(2, 1fr);
        row-gap: .5rem;
    }

    .sidebar {
        display: none;
    }

    .contact__container,
    .work__container,
    .skills__container,
    .qualification__container {
        grid-template-columns: 1fr;
    }

    .skills__title {
        font-size: var(--normal-font-size);
    }

    .main .home {
        background: none;
        width: 100%;
        flex-grow: 1;

    }

    .sidebar {
        width: 0;
        height: 0;

    }

    .education {
        width: 100%;
    }

    body {
        width: 100%;
    }

    .main {
        width: 100%;
        padding-left: 0;
        /* Remove padding from the left */
        margin-left: 0;
    }

    .home {
        padding-left: 0;
        padding: 0;
    }


    .home__social {
        display: flex;

        align-items: center;
        justify-content: center;
        padding: 20px 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .home__social-link {
        font-size: 0.9rem;
        border: 2px solid rgba(49, 49, 47, 0.345);
        background-color: #515555a3;
        border-radius: 25px;
        padding: 5px;
        font-weight: 600;

    }

    .home__social-link:hover {
        transform: none;
    }

    .home__social-link:hover:nth-child(n) {
        color: #fff;
    }


    .home__social-link:nth-child(1) {
        background-color: #4a10f5a3;

    }

    .home__social-link:nth-child(2) {
        background-color: #06add7a3;

    }

    .home__social-link:nth-child(3) {
        background-color: #742a9ba3;

    }

    .home__social-links {
        display: flex;
        flex-direction: row;
        margin: 0 20px;
        padding: 0;
        justify-content: start;
        align-items: center;
        column-gap: 10px;
    }

    .home__description {
        margin-bottom: var(--mb-2);

    }

    .home__description:hover {
        transform: none;
    }

    .skills__content {
        display: flex;
        flex-direction: column;
    }

    .about {
        height: 100vh;
    }

    .skills {
        height: 100vh;
        position: relative;

    }

    .skills__content table {
        margin-top: 0;

        width: 80%;
        height: 50%;
        font-size: 0.7rem;
        border-collapse: collapse;
    }

    .skills__content table th,
    td {
        margin: auto;
        font-size: 0.8rem;
        padding: 5px 0;
    }


    .about__data {
        display: none;
    }

    .timeline {
        width: 80%;
        margin: auto;
        margin-top: 40px;
    }

    .home__container {
        margin: auto;
    }



    .about__section-title {
        margin-bottom: 20px;
        margin-top: 0;
        padding-top: 20px;
    }

    .skills__container {
        width: 100%;
        margin: 0;
        padding: 0;
        row-gap: 0;
        margin: auto;
    }

    .skills__content table {
        margin: auto;

    }

    .skills__content table {
        margin-bottom: 50px;
    }

    .skills__content table th {
        margin: auto;
        padding: 10px 0;
        font-size: medium;
    }

    .skills__content table td {
        padding: 10px 0;
        font-size: 0.9rem;

    }

    .title__of__skills {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about {
        width: 100%;
        margin: auto;
    }

    .my__info {
        display: none;
    }

    .education {
        margin: auto;
        margin: 0;
        padding: 0;
    }

    .home__data {
        text-align: center;
        padding: 0 50px;
    }

    .home__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0;
    }

    .work__container {
        width: 100%;
        padding: 0;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }



    .work__card button {
        font-size: 0.8rem;
        border-radius: 0;

    }


    .work__card button i {
        font-size: 0.6rem;
    }

    .work__button {
        margin-top: 20px;

    }




    .work__filters {
        margin-top: 30px;
        column-gap: .2rem;

    }

    .work {
        height: 100vh;
        width: 100%;
    }


    .home__description {
        text-align: left;
    }


    .work__container {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 20px;
        align-content: start;
        padding: 10px 20px;
        padding-bottom: 20px;


    }

    .work__card {
        margin: auto;
        padding: 10px;
        margin: 0;
        width: 45%;
        align-content: start;

    }

    .work__title {
        text-align: center;
        font-weight: 800;
        font-size: 1rem;
    }

    .work__button {
        display: flex;
        flex-direction: column;

    }

    .work__button .button a {
        text-align: center;
        margin: auto;
    }


}


























































@media screen and (max-width:350px) {


    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .home__img {
        width: 200px;
    }

    .home {
        height: 100vh;
    }

    .home__title {
        font-size: var(--h1-font-size);
        font-weight: 900;

    }

    .home__subtitle {
        font-size: var(--normal-font-size);
        width: 100%;
    }

    .about__info {
        grid-template-columns: repeat(2, 1fr);
        row-gap: .5rem;
    }

    .contact__container,
    .work__container,
    .skills__container,
    .qualification__container {
        grid-template-columns: 1fr;
    }

    .skills__title {
        font-size: var(--normal-font-size);
    }

    .main .home {
        background: none;
        width: 100%;
        flex-grow: 1;

    }

    .sidebar {
        display: none;
        width: 0;
        height: 0;

    }

    body {
        width: 100%;
    }

    .main {
        width: 100%;
        padding-left: 0;
        /* Remove padding from the left */
        margin-left: 0;
    }

    .home {
        padding-left: 0;
        padding: 0;
    }


    .home__social {
        display: flex;

        align-items: center;
        justify-content: center;
        padding: 20px 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .home__social-link {
        font-size: 0.9rem;
        border: 2px solid rgba(49, 49, 47, 0.345);
        background-color: #515555a3;
        border-radius: 25px;
        padding: 5px;
        font-weight: 600;

    }

    .home__social-link:hover {
        transform: none;
    }

    .home__social-link:hover:nth-child(n) {
        color: #fff;
    }


    .home__social-link:nth-child(1) {
        background-color: #4a10f5a3;

    }

    .home__social-link:nth-child(2) {
        background-color: #06add7a3;

    }

    .home__social-link:nth-child(3) {
        background-color: #742a9ba3;

    }

    .home__social-links {
        display: flex;
        flex-direction: row;
        margin: 0 20px;
        padding: 0;
        justify-content: start;
        align-items: center;
        column-gap: 10px;
    }

    .home__description {
        margin-bottom: var(--mb-2);

    }

    .home__description:hover {
        transform: none;
    }

    .skills__content {
        display: flex;
        flex-direction: column;
    }

    .about {
        height: 100vh;
    }

    .skills {
        height: 100vh;
        position: relative;

    }

    .skills__content table {
        margin-top: 0;

        width: 80%;
        height: 50%;
        font-size: 0.7rem;
        border-collapse: collapse;
    }

    .skills__content table th,
    td {
        margin: auto;
        font-size: 0.8rem;
        padding: 5px 0;
    }


    .about__data {
        display: none;
    }

    .timeline {
        width: 80%;
        margin: auto;
    }

    .home__container {
        margin: auto;
    }



    .about__section-title {
        margin-bottom: 20px;
        margin-top: 0;
        padding-top: 20px;
    }

    .skills__container {
        width: 100%;
        margin: 0;
        padding: 0;
        row-gap: 0;
        margin: auto;
    }

    .skills__content table {
        margin: auto;

    }

    .skills__content table {
        margin-bottom: 50px;
    }

    .skills__content table th {
        margin: auto;
        padding: 6px 0;
        font-size: medium;
    }

    .title__of__skills {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about {
        width: 100%;
        margin: auto;
    }

    .my__info {
        display: none;
    }

    .education {
        margin: auto;
        margin: 0;
        padding: 0;
    }

    .home__data {
        text-align: center;
        padding: 0 50px;
    }

    .home__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0;
    }





    .work__container {
        width: 100%;
        padding: 0;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;


    }

    .work__card {
        width: 80%;
    }


    .work__card button {
        font-size: 0.8rem;
        border-radius: 0;

    }


    .work__card button i {
        font-size: 0.6rem;
    }

    .work__button {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 5px;


    }



    .work__button button:hover {
        background-color: var(--skin-color);
    }

    .work__title {
        font-size: 0.9rem;
        font-weight: 700;
        text-align: center;
    }

    .works__title {
        margin-top: 40px;
    }



    .work__container {
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: start;
        flex-wrap: wrap;
        align-content: flex-start;

    }

    .work__card {
        width: 90%;
        margin: auto;

    }

    /*
    .work__item {
         font-size: var(--small-font-size); 
    }*/

    .work__filters {
        width: 100%;
        display: flex;
    }

    .work__filters {
        margin-top: 30px;
        column-gap: .2rem;

    }

    .work {
        height: 100vh;
        width: 100%;
    }


    .home__description {
        text-align: left;
    }
}